<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/contactoServicio.css">
    <link rel="stylesheet" href="bootstrap/bootstrap-5.3.2-dist/css/bootstrap-grid.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>
        ENVIAREMOS UN EMAIL CONFIRMANDO LA FECHA DE LA CITA
    </h1>
</body>
</html>