<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="bootstrap/bootstrap-5.3.2-dist/css/bootstrap-grid.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
   
    <header>
        <h1>D E N T I S O N R I S A</h1>
        <nav class="nav-bar"> 
        <ul>
            <li>
                <button type="button" class="btn-close" disabled aria-label="Close">
                <a href="index.html">Inicio</a>
            </button>
            </li>
            <li>
                <button type="button" class="btn-close" disabled aria-label="Close">
                    <a href="Odontologos.html">Odontologos</a>
                </button>
            </li>
            <li>
                <button type="button" class="btn-close" disabled aria-label="Close">
                    <a href="Turnos.html">Solicitar Turno</a>
                </button>
            </li>
        </ul>
        </nav>
    </header>
    <div class="caja1">
    <p id="p1">Tu salud dental es nuestra prioridad</p>
    <div id="imagen">
        <img src="src/img/Odontologo1.jpg" alt="Odontólogo">
    </div>
    </div>

</body>
<script src="js/estilos.js"></script>
<script src="bootstrap/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>
<footer>
    <div id="img-footer">
    <a href="https://www.instagram.com/"> <img class="img-1" src="src/IcoMoon-Free-master/IcoMoon-Free-master/SVG/403-instagram.svg" alt="inst">instagram</a>
    <a href="https://www.facebook.com//"> <img class="img-1" src="src/IcoMoon-Free-master/IcoMoon-Free-master/SVG/402-facebook2.svg" alt="face">facebook</a>
    <a href="https://twitter.com/"> <img class="img-1" src="src/IcoMoon-Free-master/IcoMoon-Free-master/SVG/407-twitter.svg" alt="tweet">twitter</a>
    </div>
    <p class="footer">© Derechos Reservados</p>
</footer>
</html>