<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/Odontologosestilo.css">
    <link rel="stylesheet" href="bootstrap/bootstrap-5.3.2-dist/css/bootstrap-grid.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
   
    <header>
        <h1>D E N T I S O N R I S A</h1>
        <nav class="nav-bar"> 
        <ul>
            <li>
                <button type="button" class="btn-close" disabled aria-label="Close">
                <a href="index.html">Inicio</a>
            </button>
            </li>
            <li>
                <button type="button" class="btn-close" disabled aria-label="Close">
                    <a href="Odontologos.html">Odontologos</a>
                </button>
            </li>
            <li>
                <button type="button" class="btn-close" disabled aria-label="Close">
                    <a href="Turnos.html">Solicitar Turno</a>
                </button>
            </li>
        </ul>
        </nav>
    </header>
    <div class="contenedor">
    <div class="card" style="width: 18rem;">
  <img src="src/img/Odontologo1.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 id="card-title1">Chidi Anangoye</h5>
    <p class="card-text">Experto en Ortodoncia.</p>
    <a href="Turnos.html" class="btn-primary">Pide un turno</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="src/img/Odontologo2.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 id="card-title2">Eleonor Shelltrop</h5>
      <p class="card-text">Nuestra experta en maxilofacial</p>
      <a href="Turnos.html" class="btn-primary">Pide un turno</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="src/img/Odontologo3.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 id="card-title3">Michael Tahani</h5>
      <p class="card-text">Experto en periodoncia.</p>
      <a href="Turnos.html" class="btn-primary">Pide un turno</a>
    </div>
  </div>
</div>
</body>
<script src="js/Odontologosestilo.js"></script>
<script src="bootstrap/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>
<footer>
    <div id="img-footer">
    <a href="https://www.instagram.com/"> <img class="img-1" src="src/IcoMoon-Free-master/IcoMoon-Free-master/SVG/403-instagram.svg" alt="inst">instagram</a>
    <a href="https://www.facebook.com//"> <img class="img-1" src="src/IcoMoon-Free-master/IcoMoon-Free-master/SVG/402-facebook2.svg" alt="face">facebook</a>
    <a href="https://twitter.com/"> <img class="img-1" src="src/IcoMoon-Free-master/IcoMoon-Free-master/SVG/407-twitter.svg" alt="tweet">twitter</a>
    </div>
    <p class="footer">© Derechos Reservados</p>
</footer>
</html>